@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color: #f5f5dc;
  background-color: #0c1016;
}

body {
  margin: 0;
}

.flex-center {
  @apply flex items-center justify-center;
}

.btnhover {
  @apply cursor-pointer rounded-full transition-all duration-200 hover:bg-gray-900  hover:shadow-lg;
}
